doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body    
        if movies
            main
                h1 Peliculas
                form(action="/createMovie" method="POST")
                    input(type="submit" value="Crear") 
                if data 
                    each film in data 
                        div
                            h2 #{film.title}
                            img(src=film.image, alt="poster")
                            p Year: #{film.year} 
                            p Director: #{film.director} 
                            p Genre: #{film.genre}
                            p Runtime: #{film.runtime}
                            form(method="POST" action="/editmovie")
                                input(type="submit" value="Editar")
                            form(method="POST" action="/removemovie")
                                input(type="submit" value="Eliminar")
        if create 
            main 
                h2 Peliculas
                form(action='/movies' method='POST' id='createForm')
                    input(type='text' name='Title' placeholder='Title')
                    input(type='text' name='Poster' placeholder='Poster')
                    input(type='text' name='Year' placeholder='Year')
                    input(type='text' name='Director' placeholder='Director')
                    input(type='text' name='Genre' placeholder='Genre')
                    input(type='text' name='Runtime' placeholder='Runtime')
                    input(type="submit" name='Create' value="Create" id='create')
            script(src="../public/admin.js")
        if edit 
            main 
                h2 Peliculas
                form(action='/movies' method='POST')
                    input(type='text' placeholder='Title')
                    input(type='text' placeholder='Poster')
                    input(type='text' placeholder='Year')
                    input(type='text' placeholder='Director')
                    input(type='text' placeholder='Genre')
                    input(type='text' placeholder='Runtime')
                    input(type="submit" value="Editar")
        if remove 
            main 
                h2 Se va a borrar la pelicula
                form(action='/movies' method='POST')
                    input(type="submit" value="Cancelar")
                form(action='/movies' method='POST')
                    input(type="submit" value="Confirmar")