doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/css/style.css")
        //- link(rel="stylesheet", href="../public/css/normalize.css")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        title MovieApp
    body    
        if movies
            header.header
                h1 MovieApp
                a(href='/logout')
                    button.btn1
                        i.fa.fa-sign-out(aria-hidden='true')
            main
                if mainScreen 
                    h2 Mis Peliculas
                    form(action="/createMovie" method="POST")
                        input.black(type="submit" value="Create") 
                if data 
                    each film in data 
                        div.searchMovie
                            h2 #{film.Title} 
                            img.imgSearch(src=film.Poster, alt="poster")
                            p 
                                strong Director: 
                                | #{film.Director}  
                            p 
                                strong Year: 
                                | #{film.Year}
                            p 
                                strong Genre: 
                                | #{film.Genre}
                            p 
                                strong Runtime: 
                                | #{film.Runtime}
                            form(method="POST" action="/editMovie")
                                input(type='hidden' name='Title' value=`${film.Title}`)
                                input.black(type="submit" value="Edit") 
                            form(method="POST" action="/removeMovie")
                                input(type='hidden' name='Title' value=`${film.Title}`)
                                input(type='hidden' name='Poster' value=`${film.Poster}`)
                                input.details(type="submit" value="Delete") 
                if data3
                    div.searchMovie
                        h2 #{data3.Title} 
                        img.imgSearch(src=data3.Poster, alt="poster")
                        p 
                            strong Director: 
                            | #{data3.Director}  
                        p 
                            strong Year: 
                            | #{data3.Year}
                        p 
                            strong Genre: 
                            | #{data3.Genre}
                        p 
                            strong Runtime: 
                            | #{data3.Runtime}
                        form(method="POST" action="/editMovie")
                            input(type='hidden' name='Title' value=`${data3.Title}`)
                            input.black(type="submit" value="Edit") 
                        form(method="POST" action="/removeMovie")
                            input(type='hidden' name='Title' value=`${data3.Title}`)
                            input(type='hidden' name='Poster' value=`${data3.Poster}`)
                            input.red(type="submit" value="Delete") 
                if base 
                    div
                        h2 #{base.Title}
                        img(src=base.Poster, alt="poster")
                        p Year: #{base.Year} 
                        p Director: #{base.Director} 
                        p Genre: #{base.Genre}
                        p Runtime: #{base.Runtime}
                        form(method="POST" action="/editMovie")
                            input(type='hidden' name='Title' value=`${base.Title}`)
                            input(type="submit" value="Edit") 
                        form(method="POST" action="/removeMovie")
                            input(type='hidden' name='Title' value=`${base.Title}`)
                            input(type='hidden' name='Poster' value=`${base.Poster}`)
                            input(type="submit" value="Delete") 
        if create 
            main 
                h2 Create Movie
                form(action='/movies' method='POST' id='createForm')
                    input(type='text' name='Title' placeholder='Title')
                    input(type='text' name='Poster' placeholder='Poster')
                    input(type='text' name='Year' placeholder='Year')
                    input(type='text' name='Director' placeholder='Director')
                    input(type='text' name='Genre' placeholder='Genre')
                    input(type='text' name='Runtime' placeholder='Runtime')
                    input.black(type="submit" name='Create' value="Create" id='create')
            script(src="../public/js/admin.js")
        if edit
            if data  
                main 
                    h2 Edit Movie
                    form(action="/movies" method="POST") 
                        input(type="hidden" name='_id' value=`${data._id}`)
                        input(type='text' name='Title' placeholder=`${data.Title}`)
                        input(type='text' name='Poster' placeholder=`${data.Poster}`)
                        input(type='text' name='Year' placeholder=`${data.Year}`)
                        input(type='text' name='Director' placeholder=`${data.Director}`)
                        input(type='text' name='Genre' placeholder=`${data.Genre}`)
                        input(type='text' name='Runtime' placeholder=`${data.Runtime}`)
                        input(type="hidden" name='edit' value='true')
                        input.black(type="submit" name='Edit' value="Edit" id='edit')
                script(src="../public/js/edit.js")
        if remove 
            main 
                h2.borrar Delete Is Coming! 
            if deleteMov
                h2 #{deleteMov.Title}
                img.imgDelete(src=deleteMov.Poster, alt="poster")
                form(action='/movies' method='POST' id="confirmForm")
                    input.black(type='hidden' name='Title' value=`${deleteMov.Title}`)
                    input.black(type="submit" name='confirm' value="Confirm" id="confirm")
                a(href='/movies')
                    button.red.delete Cancel
            script(src="../public/js/remove.js")