doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body    
        if movies
            main
                h1 Peliculas
                form(action="/createMovie" method="POST")
                    input(type="submit" value="Crear") 
                if data 
                    each film in data 
                        div
                            h2 #{film.Title}
                            img(src=film.Poster, alt="poster")
                            p Year: #{film.Year} 
                            p Director: #{film.Director} 
                            p Genre: #{film.Genre}
                            p Runtime: #{film.Runtime}
                            form(method="POST" action="/editMovie")
                                input(type="submit" value="Edit" name=`${film._id}`) 
                            form(method="POST" action="/removeMovie")
                                input(type="submit" value="delete" name=`${film._id}`) 
                if data3  
                    h2 #{data3.Title}
                    img(src=data3.Poster, alt="poster")
                    p Year: #{data3.Year} 
                    p Director: #{data3.Director} 
                    p Genre: #{data3.Genre}
                    p Runtime: #{data3.Runtime}
                    form(method="POST" action="/editMovie")
                        input(type="submit" value="Editar")
                    form(method="POST" action="/removeMovie")
                        input(type="submit" value="Eliminar")
        if create 
            main 
                h2 Peliculas
                form(action='/movies' method='POST' id='createForm')
                    input(type='text' name='Title' placeholder='Title')
                    input(type='text' name='Poster' placeholder='Poster')
                    input(type='text' name='Year' placeholder='Year')
                    input(type='text' name='Director' placeholder='Director')
                    input(type='text' name='Genre' placeholder='Genre')
                    input(type='text' name='Runtime' placeholder='Runtime')
                    input(type="submit" name='Create' value="Create" id='create')
            script(src="../public/admin.js")
        if edit
            if data  
                main 
                    h2 Peliculas
                    input.edit(type='text' name='Title' placeholder=`${data[0].Title}`)
                    input.edit(type='text' name='Poster' placeholder=`${data[0].Poster}`)
                    input.edit(type='text' name='Year' placeholder=`${data[0].Year}`)
                    input.edit(type='text' name='Director' placeholder=`${data[0].Director}`)
                    input.edit(type='text' name='Genre'
                    placeholder=`${data[0].Genre}`)
                    input.edit(type='text' name='Runtime' placeholder=`${data[0].Runtime}`)
                    form(action="/movies" method="POST") 
                        input(type="submit" name='Edit' value="Edit" id='edit')
                script(src="../public/edit.js")
        if remove 
            main 
                h2 Se va a borrar la pelicula
                form(action='/movies' method='POST')
                    input(type="submit" value="Cancelar")
                form(action='/movies' method='POST')
                    input(type="submit" value="Confirmar")