html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../public/css/style.css")
        //- link(rel="stylesheet", href="../public/css/normalize.css")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        title MovieApp
    body
        if title
            header.headerGen
                h1 MovieApp
        if burger 
            header 
                div.hamburger
                    div._layer.-top
                    div._layer.-mid
                    div._layer.-bottom
                nav.menuppal
                    ul 
                        li 
                            a(href='/search') Search
                        li
                            a(href='/movies') Movies
                        li 
                            a(href='/logout') Logout
            script(src="../public/js/burger.js") 
        if signIn
            main
                img.logos(src="../public/img/logo.jpeg" alt="logo")
                form(action="/signIn" method="POST" id="singInForm")
                    input(name="email" type="email" placeholder="Email" id="mail")
                    input(name="password" type="password" placeholder="Password" id="psswrd")
                    input.signIn(type="submit" value="Sign In" id="sigIn")
                a(href='#')
                    button.google Sign in with Google
                a(href='/signUp')
                    button.signUp Sign Up
            script(src="../public/js/signIn.js") 
        if signUp
            main
                img.logos(src="../public/img/logo.jpeg" alt="logo")
                form(action="/signUp" method="POST" id="singUpForm")
                    input(name="name" type="text" id="name" placeholder="Name")
                    input(name="email" type="email" id="email" placeholder="Email")
                    input(name="password" type="password" id="password" placeholder="Password")
                    input(name="passwordConfirm" type="password" id="passwordConfirm" placeholder="Confirm Password")
                    input.signUp(type="submit" value="SignUp" id="signUp")
            script(src="../public/js/signUp.js") 
        if dashboard
            header.header
                h1 MovieApp
                a(href='/logout')
                    button.btn
                        i.fa.fa-sign-out(aria-hidden='true')
            main
                div.container
                    img.logos(src="../public/img/logo.jpeg" alt="logo")
                    a(href='/search')
                        button.search Search
                    a(href='/movies')
                        button.movies Movies
        if searchPage
            main 
                form(action="/search" method="GET" id="searchForm")
                    input(type="text" id="title" name="s" placeholder="Favorite movie??")
                    input.black(type="submit" value="Search")
                if search
                    each film in search
                        div.searchMovie
                            h2 #{film.Title} 
                            img.imgSearch(src=film.Poster, alt="poster")
                            p 
                                strong Director: 
                                | #{film.Director}  
                            p 
                                strong Year: 
                                | #{film.Year}
                            p 
                                strong Genre: 
                                | #{film.Genre}
                            p 
                                strong Runtime: 
                                | #{film.Runtime}
                            form(action=`/search/${film.imdbID}&search=${passTitleQ}` method="GET" id="form")
                                input.details(type="submit" value="Details")
                if dbSearch
                    div.searchMovie
                        h2 #{dbSearch.Title} 
                        img.imgSearch(src=dbSearch.Poster, alt="poster")
                        p 
                            strong Director: 
                            | #{dbSearch.Director}  
                        p 
                            strong Year: 
                            | #{dbSearch.Year}
                        p 
                            strong Genre: 
                            | #{dbSearch.Genre}
                        p 
                            strong Runtime: 
                            | #{dbSearch.Runtime}
                        form(action=`/search/${dbSearch.imdbID}&search=${passTitleQ}` method="GET" id="form")
                            input.details(type="submit" value="Details")
        if movies
            main 
                if data 
                    each film in data 
                        div.searchMovie
                            h2 #{film.title} 
                            img.imgSearch(src=film.image, alt="poster")
                            p 
                                strong Director: 
                                | #{film.director}  
                            p 
                                strong Year: 
                                | #{film.year}
                            p 
                                strong Genre: 
                                | #{film.genre}
                            p 
                                strong Runtime: 
                                | #{film.runtime}
                if dataFav  
                    each film in dataFav 
                        div.searchMovie
                            h2 #{film.Title} 
                            img.imgSearch(src=film.Poster, alt="poster")
                            p 
                                strong Director: 
                                | #{film.Director}  
                            p 
                                strong Year: 
                                | #{film.Year}
                            p 
                                strong Genre: 
                                | #{film.Genre}
                            p 
                                strong Runtime: 
                                | #{film.Runtime}
        if detail 
            main
                if data      
                    div.movieDetails
                        h2 #{data.Title} 
                        img.imgSearch(src=data.Poster, alt="poster")
                        if checked===true
                            input#check(type="checkbox" name=`${data.imdbID}` value=`${dataUser.user_ID}` checked)
                            label(for='check') ❤
                        if checked===false
                            input#check(type="checkbox" name=`${data.imdbID}` value=`${dataUser.user_ID}`)
                            label(for='check') ❤
                        p 
                            strong Director: 
                            | #{data.Director}  
                        p 
                            strong Year: 
                            | #{data.Year}
                        p 
                            strong Genre: 
                            | #{data.Genre}
                        p 
                            strong Runtime: 
                            | #{data.Runtime}    
                    if data.review               
                        p.review 
                            strong Review: 
                            | #{data.review}
                        a(href=`/search?s=${searchKey}`)
                            button.back Back
                        script(src="../public/js/fav.js")
                if dataD      
                    div.movieDetails
                        h2 #{dataD.Title} 
                        img.imgSearch(src=dataD.Poster, alt="poster")
                        p 
                            strong Director: 
                            | #{dataD.Director}  
                        p 
                            strong Year: 
                            | #{dataD.Year}
                        p 
                            strong Genre: 
                            | #{dataD.Genre}
                        p 
                            strong Runtime: 
                            | #{dataD.Runtime}                    
                        p.review 
                            strong Review: 
                            | #{dataD.review}
                        if checked===true
                            input#check(type="checkbox" name=`${dataD.movieId}` value=`${dataUser.user_ID}` checked)
                            label(for='check') ❤
                        if checked===false
                            input#check(type="checkbox" name=`${dataD.movieId}` value=`${dataUser.user_ID}`)
                            label(for='check') ❤
                        a(href=`/search?s=${searchKey}`)
                            button.back Back
                        script(src="../public/js/fav.js")