html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='../public/style.css')
        title Movies
    body 
        form(action="/film" method="post" )
            input(type="text" name="title")
            input(type="submit" value="Buscar pelicula")
    if Response == "True"
        div.desciption
            img(src=Poster, alt="portada")
            div.description
                p Título: #{film.Title}
                p Año: #{film.Year}
                p Director: #{film.Director}
                p Género: #{film.Genre}
                p Duración: #{film.Length}
    else
        p El título introducido no existe